* {
    margin: 0;
    padding: 0;
     /* font fam */
}

body {
    background-color: aliceblue;
    overflow: hidden;
    /* font fam */
}

p{
    color: white;
    /*font size*/
}

button{
    outline: none;
    background-color: #3F4E4F;
    color: orange;
}

h1, h2{
    color: white;
    text-align: center;

}
/*---------------------------------------------*/
/* this would be everything in the outer div */
/*---------------------------------------------*/
.outer{
 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px 10px;
}

/*"nav" section*/


.top p {
 float: right;
 background-color: #3F4E4F;
 color: orange;
}

.top button{
    float: left;
    background-color: #3F4E4F;
    color: orange;
    /* font size */
}

/*---------------------------------------------*/
/* this would be everything in the inner div */
/*---------------------------------------------*/

/*intro*/

.inner{
    background-color: #3F4E4F;
    padding: 15px;
    height: 50%;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro{
    margin-bottom: 15px;
    text-align: center;
}

#intro button{
    width: 50%;
}


/*questions*/